{% extends "components/layout.html" %} {% block title %}Profile{% endblock %} {%
block content %}
<div class="row m-sm-5 m-3">
  <h1 class="col">FastAPI Profile User</h1>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="dr-card-container col card ">
      <div class="card-body">
        <h5 class="card-title">Hi <mark>{{ data_user[3] }}</mark></h5>
        <p class="card-text">This is a list with your data.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          Firstname: <mark>{{ data_user[1] }}</mark>
        </li>
        <li class="list-group-item">
          Lastname: <mark>{{ data_user[2] }}</mark>
        </li>
        <li class="list-group-item">
          Username: <mark>{{ data_user[5] }}</mark>
        </li>
      </ul>
    </div>

    <div class="col-10">
      
        <script
          type="module"
          src="https://prod-useast-b.online.tableau.com/javascripts/api/tableau.embedding.3.latest.min.js"
        ></script>
        <tableau-viz
          id="tableau-viz"
          src="{{dashboard_url}}"
          width="1738"
          height="796"
          toolbar="bottom"
          token="{{token}}"
        ></tableau-viz>
      
    </div>
  </div>
</div>

{% endblock %}
