{% extends "components/layout.html" %} {% block title %}Profile{% endblock %} {%
block content %}
<div class="row m-sm-5 m-3">
    <h1 class="col">FastAPI Profile User</h1>
</div>

<div class="row justify-content-beetween">
    <div class="card col-4" style="width: 18rem; max-height: 20vh;" >
        <div class="card-body">
            <h5 class="card-title">Hi <mark>{{ data_user[3] }}</mark></h5>
            <p class="card-text">This is a list with your data.</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Firstname: <mark>{{ data_user[1] }}</mark></li>
            <li class="list-group-item">Lastname: <mark>{{ data_user[2] }}</mark></li>
            <li class="list-group-item">Username: <mark>{{ data_user[5] }}</mark></li>
        </ul>
    </div>

    <div class="col-8">

        <script type='module'
            src='https://10ax.online.tableau.com/javascripts/api/tableau.embedding.3.latest.min.js'></script>
        <tableau-viz id='tableau-viz'
            src='https://10ax.online.tableau.com/t/danieldev/views/HistorialCetes/HistoricoCetes' width='1000'
            height='840' hide-tabs toolbar='bottom'
            token="eyJhbGciOiJIUzI1NiIsImlzcyI6IjFlMmJjZWJhLWE2YjMtNDI2Ny04OTAzLTM1YzA5YTI3MDVjZCIsImtpZCI6ImFjNjJkMTZjLWU4MzUtNDdjMy1iZDA5LTZiOWQ4M2ZhODQxMiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE2NzUwMzgzNjUsImp0aSI6ImZjMGQzYWI3LTFmZTYtNDY4OS05YzQ2LTgwZDVmMTE1NzMzYSIsImF1ZCI6InRhYmxlYXUiLCJzdWIiOiJqb3NlLnJvc2FzQGRhdGF0ZWFtLm14Iiwic2NwIjpbInRhYmxlYXU6dmlld3M6ZW1iZWQiXX0.hSfyD5FlL06o0_48KPubG4yy_gI838cBNwQkLANZylU"></tableau-viz>
    </div>
</div>

{% endblock %}